.form-group.col-md-6.mx-auto
  = f.text_field :name, class: 'form-control', required: true, placeholder: 'Name of Associate 1'
.form-group.col-md-6.mx-auto
  = f.text_field :partner, class: 'form-control', required: true, placeholder: 'Name of Associate 2'